<web-app>
	<context-param>
		<param-name>loginPage</param-name>
		<param-value>/Login</param-value>
	</context-param>
	<filter>
	    <filter-name>validateSaltFilter</filter-name>
	    <filter-class>com.utility.ValidateSaltFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>validateSaltFilter</filter-name>
	    <url-pattern>/Login</url-pattern>
		<url-pattern>/Register</url-pattern>
		<url-pattern>/ForgotPassword</url-pattern>
		<url-pattern>/Admin/Country/Add</url-pattern>
		<url-pattern>/Admin/State/Add</url-pattern>
		<url-pattern>/Admin/City/Add</url-pattern>
		<url-pattern>/Admin/Occupation/Add</url-pattern>
		<url-pattern>/Admin/Relation/Add</url-pattern>
		<url-pattern>/Admin/News/Add</url-pattern>
		<url-pattern>/Admin/Country/Edit</url-pattern>
		<url-pattern>/Admin/State/Edit</url-pattern>
		<url-pattern>/Admin/City/Edit</url-pattern>
		<url-pattern>/Admin/Occupation/Edit</url-pattern>
		<url-pattern>/Admin/Relation/Edit</url-pattern>
		<url-pattern>/Admin/News/Edit</url-pattern>
		<url-pattern>/Admin/Country/Delete</url-pattern>
		<url-pattern>/Admin/State/Delete</url-pattern>
		<url-pattern>/Admin/City/Delete</url-pattern>
		<url-pattern>/Admin/Occupation/Delete</url-pattern>
		<url-pattern>/Admin/Relation/Delete</url-pattern>
		<url-pattern>/Admin/News/Delete</url-pattern>
		<url-pattern>/Admin/Family/Delete</url-pattern>
		<url-pattern>/Admin/Family/Validate</url-pattern>
		<url-pattern>/Admin/ChangePassword</url-pattern>
		<url-pattern>/User/Address/Update</url-pattern>
		<url-pattern>/User/Member/Add</url-pattern>
		<url-pattern>/User/Member/Edit</url-pattern>
		<url-pattern>/User/Head/Edit</url-pattern>
		<url-pattern>/User/Member/Delete</url-pattern>
		<url-pattern>/User/Address/Update</url-pattern>		
		<url-pattern>/User/ChangePassword</url-pattern>
	</filter-mapping>
	<filter>
      <filter-name>AdminFilter</filter-name>
      <filter-class>com.utility.AdminFilter</filter-class>      	
   	</filter>
   	<filter>
      	<filter-name>UserFilter</filter-name>
      	<filter-class>com.utility.UserFilter</filter-class>      	
   	</filter>
   	<filter>
      	<filter-name>VisitorFilter</filter-name>
      	<filter-class>com.utility.VisitorFilter</filter-class>      	
   	</filter>
   	<filter-mapping>
      <filter-name>AdminFilter</filter-name>
      <url-pattern>/Admin/*</url-pattern>
   	</filter-mapping>  
    <filter-mapping>
      <filter-name>UserFilter</filter-name>
      <url-pattern>/User/*</url-pattern>
   	</filter-mapping>
   	<filter-mapping>
      <filter-name>VisitorFilter</filter-name>
      <url-pattern>/Login</url-pattern>
      <url-pattern>/Register</url-pattern>
      <url-pattern>/ForgotPassword</url-pattern>      
   	</filter-mapping>
    <servlet>
	    <servlet-name>AjaxCityStateProviderServlet</servlet-name>
		<servlet-class>com.controller.AjaxCityStateProviderServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxCityStateProviderServlet</servlet-name>
		<url-pattern>/GetData</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.controller.RegisterServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.controller.LoginServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCountryServlet</servlet-name>
		<servlet-class>com.controller.AddCountryServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCountryServlet</servlet-name>
		<url-pattern>/Admin/Country/Add</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>AddStateServlet</servlet-name>
		<servlet-class>com.controller.AddStateServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStateServlet</servlet-name>
		<url-pattern>/Admin/State/Add</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>AddCityServlet</servlet-name>
		<servlet-class>com.controller.AddCityServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCityServlet</servlet-name>
		<url-pattern>/Admin/City/Add</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>AddOccupationServlet</servlet-name>
		<servlet-class>com.controller.AddOccupationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AddOccupationServlet</servlet-name>
		<url-pattern>/Admin/Occupation/Add</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>AddRelationServlet</servlet-name>
		<servlet-class>com.controller.AddRelationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRelationServlet</servlet-name>
		<url-pattern>/Admin/Relation/Add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditCountryServlet</servlet-name>
		<servlet-class>com.controller.EditCountryServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewsServlet</servlet-name>
		<url-pattern>/Admin/News/Add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddNewsServlet</servlet-name>
		<servlet-class>com.controller.AddNewsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>EditCountryServlet</servlet-name>
		<url-pattern>/Admin/Country/Edit</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EditStateServlet</servlet-name>
		<servlet-class>com.controller.EditStateServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>EditStateServlet</servlet-name>
		<url-pattern>/Admin/State/Edit</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EditCityServlet</servlet-name>
		<servlet-class>com.controller.EditCityServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>EditCityServlet</servlet-name>
		<url-pattern>/Admin/City/Edit</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EditOccupationServlet</servlet-name>
		<servlet-class>com.controller.EditOccupationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>EditOccupationServlet</servlet-name>
		<url-pattern>/Admin/Occupation/Edit</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EditRelationServlet</servlet-name>
		<servlet-class>com.controller.EditRelationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>EditRelationServlet</servlet-name>
		<url-pattern>/Admin/Relation/Edit</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EditNewsServlet</servlet-name>
		<servlet-class>com.controller.EditNewsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>EditNewsServlet</servlet-name>
		<url-pattern>/Admin/News/Edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCountryServlet</servlet-name>
		<servlet-class>com.controller.DeleteCountryServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCountryServlet</servlet-name>
		<url-pattern>/Admin/Country/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>DeleteStateServlet</servlet-name>
		<servlet-class>com.controller.DeleteStateServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStateServlet</servlet-name>
		<url-pattern>/Admin/State/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>DeleteCityServlet</servlet-name>
		<servlet-class>com.controller.DeleteCityServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCityServlet</servlet-name>
		<url-pattern>/Admin/City/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>DeleteOccupationServlet</servlet-name>
		<servlet-class>com.controller.DeleteOccupationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteOccupationServlet</servlet-name>
		<url-pattern>/Admin/Occupation/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>DeleteRelationServlet</servlet-name>
		<servlet-class>com.controller.DeleteRelationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteRelationServlet</servlet-name>
		<url-pattern>/Admin/Relation/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>DeleteNewsServlet</servlet-name>
		<servlet-class>com.controller.DeleteNewsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteNewsServlet</servlet-name>
		<url-pattern>/Admin/News/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListCountryServlet</servlet-name>
		<servlet-class>com.controller.ListCountryServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ListCountryServlet</servlet-name>
		<url-pattern>/Admin/Country/</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListStateServlet</servlet-name>
		<servlet-class>com.controller.ListStateServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ListStateServlet</servlet-name>
		<url-pattern>/Admin/State/</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListCityServlet</servlet-name>
		<servlet-class>com.controller.ListCityServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ListCityServlet</servlet-name>
		<url-pattern>/Admin/City/</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListOccupationServlet</servlet-name>
		<servlet-class>com.controller.ListOccupationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ListOccupationServlet</servlet-name>
		<url-pattern>/Admin/Occupation/</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListRelationServlet</servlet-name>
		<servlet-class>com.controller.ListRelationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListRelationServlet</servlet-name>
		<url-pattern>/Admin/Relation/</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>DeleteFamilyServlet</servlet-name>
		<servlet-class>com.controller.DeleteFamilyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFamilyServlet</servlet-name>
		<url-pattern>/Admin/Family/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>CreateLoginServlet</servlet-name>
		<servlet-class>com.controller.CreateLoginServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateLoginServlet</servlet-name>
		<url-pattern>/Admin/Family/Validate</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListNotActivatedFamilyServlet</servlet-name>
		<servlet-class>com.controller.ListNotActivatedFamilyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ListNotActivatedFamilyServlet</servlet-name>
		<url-pattern>/Admin/</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListActivatedFamilyServlet</servlet-name>
		<servlet-class>com.controller.ListActivatedFamilyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ListActivatedFamilyServlet</servlet-name>
		<url-pattern>/Admin/Family/</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListNewsServlet</servlet-name>
		<servlet-class>com.controller.ListNewsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListNewsServlet</servlet-name>
		<url-pattern>/Admin/News/</url-pattern>
	</servlet-mapping><servlet>
	    <servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>com.controller.ChangePasswordServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/Admin/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/User/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ForgotPasswordServlet</servlet-name>
		<servlet-class>com.controller.ForgotPasswordServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPasswordServlet</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.controller.LogoutServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ChangeAddressServlet</servlet-name>
		<servlet-class>com.controller.ChangeAddressServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeAddressServlet</servlet-name>
		<url-pattern>/User/Address/Update</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>AddMemberServlet</servlet-name>
		<servlet-class>com.controller.AddMemberServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMemberServlet</servlet-name>
		<url-pattern>/User/Member/Add</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EditMemberServlet</servlet-name>
		<servlet-class>com.controller.EditMemberServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>EditMemberServlet</servlet-name>
		<url-pattern>/User/Member/Edit</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>EditHeadMemberServlet</servlet-name>
		<servlet-class>com.controller.EditHeadMemberServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>EditHeadMemberServlet</servlet-name>
		<url-pattern>/User/Head/Edit</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>DeleteMemberServlet</servlet-name>
		<servlet-class>com.controller.DeleteMemberServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMemberServlet</servlet-name>
		<url-pattern>/User/Member/Delete</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListCurrentFamilyServlet</servlet-name>
		<servlet-class>com.controller.ListCurrentFamilyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListCurrentFamilyServlet</servlet-name>
		<url-pattern>/User/</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>FindMemberServlet</servlet-name>
		<servlet-class>com.controller.FindMemberServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>FindMemberServlet</servlet-name>
		<url-pattern>/User/Member/Find</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>FamilyDetailServlet</servlet-name>
		<servlet-class>com.controller.FamilyDetailServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>FamilyDetailServlet</servlet-name>
		<url-pattern>/User/Family</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ListCurrentNewsServlet</servlet-name>
		<servlet-class>com.controller.ListCurrentNewsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ListCurrentNewsServlet</servlet-name>
		<url-pattern>/User/News</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Contact</servlet-name>
		<jsp-file>/Contact.jsp</jsp-file>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/Contact</url-pattern>
	</servlet-mapping>
	<error-page>
	    <description>Missing login</description>
	    <error-code>401</error-code>
	    <location>/401.jsp</location>
	</error-page>
	<error-page>
	    <description>Forbidden directory listing</description>
	    <error-code>403</error-code>
	    <location>/403.jsp</location>
	</error-page>
	<error-page>
	    <description>File not found</description>
	    <error-code>404</error-code>
	    <location>/404.jsp</location>
	</error-page>
	<error-page>
	    <description>Uncaught exception</description>
	    <error-code>500</error-code>
	    <location>/500.jsp</location>
	</error-page>
	<error-page>
	    <description>Unsupported servlet method</description>
	    <error-code>503</error-code>
	    <location>/503.jsp</location>
	</error-page>
<!--
    <servlet>
	    <servlet-name>AjaxCityServlet</servlet-name>
		<servlet-class>com.controller.AjaxCityServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxCityServlet</servlet-name>
		<url-pattern>/GetCity</url-pattern>
	</servlet-mapping>
 -->
</web-app>